html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "babyDoll";
    color: #2E4E00;
    background-color: #fbffaa;
    height: 100%;
    position: relative;
}

@font-face {
    font-family: 'babyDoll';
    src: url('Baby Doll.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    gap: 15px;
    height: 100%;
    position: relative;
}

header img {
    max-width: 55px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 55px;
    margin: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
    filter: invert(22%) sepia(100%) saturate(5000%) hue-rotate(78deg) brightness(70%) contrast(100%);
}

.verticalLine {
    border-left: 6px solid #88A201;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 107px;
    height: 800px;
}

.layout {
    display: flex;
    align-items: flex-start;
    min-height: max-content;
}

.content {
    margin: 20px;
    margin-left: 50px;
    width: 100vw;
}

#pfpImg {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
}

#profile {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

#greetings h1 {
    margin: 0;
    font-size: 40px;
}

#greetings p {
    margin-top: 20px;
}

.secMain {
    width: 400px;
    text-align: center;
    background-color: #f2ff7b;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px #93995f;
}

.previews {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    align-items: stretch;
}

.previews2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    align-items: stretch;
}

hr {
    background-color: #88A201;
    height: 1px;
    border: none;
}

.pomodor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.timer {
    font-size: 10em;
    font-weight: 700;
    display: inline-block;
    width: 450px;
    text-align: center;
}

.pomodoroButton {
    font-size: 2em;
    font-family: "babyDoll";
    padding: 20px 25px;
    border-radius: 10px;
    border: none;
    color: #2E4E00;
    cursor: pointer;
    transition: 0.2 ease-in-out;
    margin: 20px;
    width: 300px;
    max-width: 300px;
}

.pomodoroButton:hover {
    transform: translateY(-10px);
}

#start {
    background-color: #a1bc1c;
}

#stop {
    background-color: #f63333;
}

#restart {
    background-color: #ffec3d;
}

.buttonWrapper {
    margin-top: 85px;
    margin-left: 10px;
}

#pomodorosection {
    width: 800px;
    text-align: center;
    background-color: #f2ff7b;
    border-radius: 10px;
    padding: 0px 0px 10px 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px #93995f;
    display: flex;
    justify-content: center;
    margin-left: 250px;
}

#add5Btn {
    border: none;
    border-radius: 10px;
    color: #2E4E00;
    background: #a1bc1c;
    font-family: "babyDoll";
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

#sub5Btn {
    border: none;
    border-radius: 10px;
    color: #2E4E00;
    background-color: #a1bc1c;
    padding: 10px;
    font-family: "babyDoll";
    font-size: 20px;
    cursor: pointer;
}

#add5Btn:hover {
    transform: translateY(-10px);
}

#sub5Btn:hover {
    transform: translateY(-10px);
}

#quoteBtn {
    border: none;
    border-radius: 10px;
    background-color: #88A201;
    padding: 10px;
    font-family: "babyDoll";
    position: absolute;
    top: 40px;
    right: 100px;
}

.image-preview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px dashed #88A201;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(251, 244, 207);
    margin-left: 60px;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden {
    display: none;
}

.customFileLabel {
    border: none;
    font-family: "babyDoll";
    background-color: #88A201;
    color: #2E4E00;
    border-radius: 10px;
    padding: 10px;
}

.customFileLabel:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

#nameInput {
    border: solid 2px #2E4E00;
    border-radius: 10px;
    background-color: #f2ff7b;
    font-family: "babyDoll";
    padding: 10px;
}

#nameInputTag {
    font-size: 30px;
}

.custopmFileLabel {
    border: solid 2px #2E4E00;
    border-radius: 10px;
    background-color: #f2ff7b;
    padding: 5px;
}

#pfpInputTag {
    font-size: 30px;
}

.saveButton {
    border: none;
    border-radius: 10px;
    background-color: #88A201;
    padding: 8px;
    font-family: "babyDoll";
}

.saveButton:hover {
    cursor: pointer;
}

#taskInput {
    flex: 1;
    border: none;
    border-radius: 10px;
    background-color: #d0e177;
    color: #2E4E00;
    padding: 10px;
    font-weight: 14px;
    font-family: "babyDoll";
}

#addBtn {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #88A201;
    font-family: "babyDoll";
    cursor: pointer;
}

ul li {
    padding: 12px 8px 12px 5px;
    user-select: none;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li.checked {
    opacity: 0.6;
    text-decoration: line-through;
}

ul li span:hover {
    opacity: 0.5;
    color: #f63333;
}

canvas {
    width: 100% !important;
    height: 300px !important;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: 0;
    pointer-events: none;
    opacity: 0.4;
}

#background img {
    opacity: 0.4;
}

header,
main,
section {
    z-index: 1;
}