html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "babyDoll";
    color: #2E4E00;
    background-color: #fbffaa;
}

@font-face {
    font-family: 'babyDoll';
    src: url('Baby Doll.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    gap: 15px;
}

header img {
    max-width: 55px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 55px;
    margin: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
    filter: invert(22%) sepia(100%) saturate(5000%) hue-rotate(78deg) brightness(70%) contrast(100%);
}

.verticalLine {
    border-left: 6px solid #88A201;
    height: 100vh;
}

.layout {
    display: flex;
    align-items: flex-start;
    min-height: max-content;
}

.content {
    margin: 20px;
    margin-left: 50px;
    width: 100vw;
}

.pfpImg {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
}

#profile {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

#greetings h1 {
    margin: 0;
}

#greetings p {
    margin-top: 20px;
}

.secMain {
    width: 400px;
    text-align: center;
    background-color: #f2ff7b;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px #93995f;
}

.previews {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    align-items: stretch;
}

hr {
    background-color: #88A201;
    height: 1px;
    border: none;
}

.pomodor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.timer {
    font-size: 10em;
    font-weight: 700;
    display: inline-block;
    width: 450px;
    text-align: center;
}

.pomodoroButton {
    font-size: 2em;
    font-family: "babyDoll";
    padding: 20px 25px;
    border-radius: 10px;
    border: none;
    color: #2E4E00;
    cursor: pointer;
    transition: 0.2 ease-in-out;
    margin: 20px;
    width: 300px;
    max-width: 300px;
}

.pomodoroButton:hover {
    transform: translateY(-10px);
}

#start {
    background-color: #a1bc1c;
}

#stop {
    background-color: #f63333;
}

#restart {
    background-color: #ffec3d;
}

.buttonWrapper {
    margin-top: 85px;
    margin-left: 10px;
}

#pomodorosection {
    width: 800px;
    text-align: center;
    background-color: #f2ff7b;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px #93995f;
    display: flex;
    justify-content: center;
}